.ChatMain

  .ChatMain__group-info
    .group-name
      = @group.name
      .member-list
        Member：
        %ul
          - @group.users.each do |user|
            %li= user.name
    %li.Edit-btn
      = link_to 'Edit', edit_group_path(@group.id),class: "Editlink"

  .ChatMain__message-list
    = render @messages

  .ChatMain__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__contents__text', placeholder: 'type a message'
        = f.label :image, class: 'Form__contents__image' do
          = icon('far', 'image', class: 'Form__contents__image__icon')
          = f.file_field :image, class: 'Form__contents__image__file'
      = f.submit 'Send', class: 'Form__submit-btn'