.SideBar
  .SideBar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
      = link_to "/groups/new", class: "top-items__btn" do
        %i.fa.fa-edit
      = link_to edit_user_path(current_user), class: "top-items__btn" do
        %i.fa.fa-cog

  .SideBar__group-list
    .SideBar__group-list__groups
      - current_user.groups.each do |group|
        .group
          = link_to '#' do
            .group__name
              = group.name
            .group__message
              まだメッセージがありません